In [5]:
import pandas as pd
import numpy as np
df = pd.read_excel(file_path)

print("Shape:", df.shape)
df.head()

Shape: (2240, 29)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [6]:
df.info()
df.describe(include="all").T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,2240.0,NaN,NaN,NaN,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
Year_Birth,2240.0,NaN,NaN,NaN,1968.805804,11.984069,1893.0,1959.0,1970.0,1977.0,1996.0
Education,2240,5,Graduation,1127,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital_Status,2240,8,Married,864,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,2216.0,NaN,NaN,NaN,52247.251354,25173.076661,1730.0,35303.0,51381.5,68522.0,666666.0
Kidhome,2240.0,NaN,NaN,NaN,0.444196,0.538398,0.0,0.0,0.0,1.0,2.0
Teenhome,2240.0,NaN,NaN,NaN,0.50625,0.544538,0.0,0.0,0.0,1.0,2.0
Dt_Customer,2240,663,2012-08-31,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Recency,2240.0,NaN,NaN,NaN,49.109375,28.962453,0.0,24.0,49.0,74.0,99.0
MntWines,2240.0,NaN,NaN,NaN,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
MntFruits,2240.0,NaN,NaN,NaN,26.302232,39.773434,0.0,1.0,8.0,33.0,199.0
MntMeatProducts,2240.0,NaN,NaN,NaN,166.95,225.715373,0.0,16.0,67.0,232.0,1725.0
MntFishProducts,2240.0,NaN,NaN,NaN,37.525446,54.628979,0.0,3.0,12.0,50.0,259.0
MntSweetProducts,2240.0,NaN,NaN,NaN,27.062946,41.280498,0.0,1.0,8.0,33.0,263.0
MntGoldProds,2240.0,NaN,NaN,NaN,44.021875,52.167439,0.0,9.0,24.0,56.0,362.0
NumDealsPurchases,2240.0,NaN,NaN,NaN,2.325,1.932238,0.0,1.0,2.0,3.0,15.0
NumWebPurchases,2240.0,NaN,NaN,NaN,4.084821,2.778714,0.0,2.0,4.0,6.0,27.0
NumCatalogPurchases,2240.0,NaN,NaN,NaN,2.662054,2.923101,0.0,0.0,2.0,4.0,28.0
NumStorePurchases,2240.0,NaN,NaN,NaN,5.790179,3.250958,0.0,3.0,5.0,8.0,13.0
NumWebVisitsMonth,2240.0,NaN,NaN,NaN,5.316518,2.426645,0.0,3.0,6.0,7.0,20.0
AcceptedCmp3,2240.0,NaN,NaN,NaN,0.072768,0.259813,0.0,0.0,0.0,0.0,1.0
AcceptedCmp4,2240.0,NaN,NaN,NaN,0.074554,0.262728,0.0,0.0,0.0,0.0,1.0
AcceptedCmp5,2240.0,NaN,NaN,NaN,0.072768,0.259813,0.0,0.0,0.0,0.0,1.0
AcceptedCmp1,2240.0,NaN,NaN,NaN,0.064286,0.245316,0.0,0.0,0.0,0.0,1.0
AcceptedCmp2,2240.0,NaN,NaN,NaN,0.013393,0.114976,0.0,0.0,0.0,0.0,1.0
Complain,2240.0,NaN,NaN,NaN,0.009375,0.096391,0.0,0.0,0.0,0.0,1.0
Z_CostContact,2240.0,NaN,NaN,NaN,3.0,0.0,3.0,3.0,3.0,3.0,3.0
Z_Revenue,2240.0,NaN,NaN,NaN,11.0,0.0,11.0,11.0,11.0,11.0,11.0
Response,2240.0,NaN,NaN,NaN,0.149107,0.356274,0.0,0.0,0.0,0.0,1.0

In [7]:
df["Response"].value_counts(dropna=False)

Response
0    1906
1     334
Name: count, dtype: int64

In [8]:
df["Response"].value_counts(normalize=True).round(4) * 100

Response
0    85.09
1    14.91
Name: proportion, dtype: float64

In [9]:
df_clean = df.copy()

In [10]:
df_clean["Dt_Customer"] = pd.to_datetime(df_clean["Dt_Customer"], errors="coerce")

In [11]:
df_clean["Age"] = 2014 - df_clean["Year_Birth"]

In [12]:
ref_date = df_clean["Dt_Customer"].max()
df_clean["Customer_Tenure_Days"] = (ref_date - df_clean["Dt_Customer"]).dt.days

In [13]:
df_clean = df_clean[df_clean["Income"].notna()]

In [14]:
df_clean = df_clean[df_clean["Income"] < 200000]

In [15]:
spend_cols = ["MntWines","MntFruits","MntMeatProducts","MntFishProducts","MntSweetProducts","MntGoldProds"]
df_clean["Total_Spend"] = df_clean[spend_cols].sum(axis=1)

In [16]:
print("Shape original:", df.shape)
print("Shape limpa:", df_clean.shape)

Shape original: (2240, 29)
Shape limpa: (2215, 32)

In [17]:
df_clean["Response"].value_counts(normalize=True).round(4) * 100

Response
0    84.97
1    15.03
Name: proportion, dtype: float64

The dataset is imbalanced, with approximately 15% of customers responding positively to the campaign, which reflects a realistic marketing scenario where only a minority of leads convert.

In [18]:
cmp_cols = ["AcceptedCmp1","AcceptedCmp2","AcceptedCmp3","AcceptedCmp4","AcceptedCmp5"]

for col in cmp_cols:
    rate = df_clean.groupby(col)["Response"].mean().round(3) * 100
    print(f"\nResponse rate by {col}:")
    print(rate)

Response rate by AcceptedCmp1:
AcceptedCmp1
0    12.3
1    55.6
Name: Response, dtype: float64

Response rate by AcceptedCmp2:
AcceptedCmp2
0    14.3
1    66.7
Name: Response, dtype: float64

Response rate by AcceptedCmp3:
AcceptedCmp3
0    12.5
1    47.2
Name: Response, dtype: float64

Response rate by AcceptedCmp4:
AcceptedCmp4
0    13.2
1    37.8
Name: Response, dtype: float64

Response rate by AcceptedCmp5:
AcceptedCmp5
0    11.8
1    56.2
Name: Response, dtype: float64

Exploratory analysis shows that customers who accepted previous campaigns have a response rate up to 5x higher than those who never did, making historical campaign acceptance one of the strongest predictors for lead scoring.

In [22]:
from sklearn.model_selection import train_test_split

# Define X (features) and y (target)
X = df_clean.drop(columns=['ID', 'Year_Birth', 'Dt_Customer', 'Z_CostContact', 'Z_Revenue', 'Response', 'Education', 'Marital_Status'])
y = df_clean['Response']

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.25,
    random_state=42,
    stratify=y)

X_train.shape, X_test.shape

((1661, 24), (554, 24))

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(
    max_iter=1000,
    class_weight="balanced",
    random_state=42
)

log_reg.fit(X_train_scaled, y_train)

LogisticRegression(class_weight='balanced', max_iter=1000, random_state=42)

In [25]:
y_pred = log_reg.predict(X_test_scaled)
y_proba = log_reg.predict_proba(X_test_scaled)[:, 1]

In [26]:
from sklearn.metrics import classification_report, roc_auc_score

print(classification_report(y_test, y_pred))
print("ROC AUC:", round(roc_auc_score(y_test, y_proba), 3))

              precision    recall  f1-score   support

           0       0.94      0.82      0.87       471
           1       0.40      0.70      0.51        83

    accuracy                           0.80       554
   macro avg       0.67      0.76      0.69       554
weighted avg       0.86      0.80      0.82       554

ROC AUC: 0.862

In [27]:
import pandas as pd
import numpy as np

coef_df = pd.DataFrame({
    "Feature": X.columns,
    "Coefficient": log_reg.coef_[0]
})

coef_df["Abs_Coefficient"] = coef_df["Coefficient"].abs()
coef_df = coef_df.sort_values("Abs_Coefficient", ascending=False)

coef_df

                 Feature  Coefficient  Abs_Coefficient
22  Customer_Tenure_Days     1.049131         1.049131
3                Recency    -0.878007         0.878007
13     NumStorePurchases    -0.849880         0.849880
6        MntMeatProducts     0.629125         0.629125
15          AcceptedCmp3     0.611318         0.611318
2               Teenhome    -0.556694         0.556694
17          AcceptedCmp5     0.384536         0.384536
18          AcceptedCmp1     0.382644         0.382644
11       NumWebPurchases     0.363961         0.363961
16          AcceptedCmp4     0.314300         0.314300
10     NumDealsPurchases     0.285277         0.285277
12   NumCatalogPurchases     0.254440         0.254440
19          AcceptedCmp2     0.199474         0.199474
4               MntWines    -0.176850         0.176850
9           MntGoldProds    -0.167723         0.167723
7        MntFishProducts    -0.141722         0.141722
0                 Income     0.133778         0.133778
21                   Age     0.124890         0.124890
1                Kidhome     0.121738         0.121738
23           Total_Spend     0.105062         0.105062
5              MntFruits     0.074337         0.074337
14     NumWebVisitsMonth     0.051512         0.051512
20              Complain    -0.038319         0.038319
8       MntSweetProducts     0.012616         0.012616